<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings>
  <add name="QLBANGIAYEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-74SPTJ2;initial catalog=QLBANGIAY;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="BanGiay.Properties.Settings.BanGiay" connectionString="Data Source=DESKTOP-74SPTJ2;Initial Catalog=QLBANGIAY;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>